In [6]:
import pandas as pd
import json

In [8]:
with open("/Utilisateurs/umushtaq/am_reasoning/QT30/raw_files/nodeset17929.json", "r", encoding="utf-8") as f:
    data = json.load(f)

In [9]:
df = pd.DataFrame(data["nodes"])

In [10]:
df

,nodeID,text,type,timestamp,scheme,schemeID
0,511850,Fiona Bruce : the BMA were initially supportin...,L,2020-05-28 20:04:45,NaN,NaN
1,511851,Asserting,YA,2020-05-28 20:04:45,Asserting,74
2,511852,the BMA were initially supporting unions in sa...,I,2020-05-28 20:04:45,NaN,NaN
3,511853,Mascha: Fiona Bruce : the BMA were initially s...,L,2020-05-28 20:04:45,NaN,NaN
4,511854,Camilla Tominey : they softened that stance,L,2020-05-28 20:04:46,NaN,NaN
...,...,...,...,...,...,...
209,512059,Mascha: Camilla Tominey : if it is safe to do so,L,2020-05-28 20:05:14,NaN,NaN
210,512060,Default Transition,TA,2020-05-28 20:05:14,Default Transition,82
211,512061,Default Transition,TA,2020-05-28 20:05:14,Default Transition,82
212,512062,Default Inference,RA,2020-05-28 20:05:15,Default Inference,72
213,512063,Arguing,YA,2020-05-28 20:05:15,Arguing,80

In [11]:
df.type.value_counts()

type
L     72
YA    55
TA    33
I     32
MA    11
RA    10
CA     1
Name: count, dtype: int64

In [12]:
df.scheme.value_counts()

scheme
Default Transition    33
Asserting             30
Default Rephrase      11
Restating             11
Default Inference     10
Arguing               10
PureQuestioning        2
Default Conflict       1
Disagreeing            1
Agreeing               1
Name: count, dtype: int64

In [18]:
z = df[df.scheme.isna()]

In [19]:
z

,nodeID,text,type,timestamp,scheme,schemeID
0,511850,Fiona Bruce : the BMA were initially supportin...,L,2020-05-28 20:04:45,NaN,NaN
2,511852,the BMA were initially supporting unions in sa...,I,2020-05-28 20:04:45,NaN,NaN
3,511853,Mascha: Fiona Bruce : the BMA were initially s...,L,2020-05-28 20:04:45,NaN,NaN
4,511854,Camilla Tominey : they softened that stance,L,2020-05-28 20:04:46,NaN,NaN
6,511856,the BMA softened their stance that children sh...,I,2020-05-28 20:04:46,NaN,NaN
...,...,...,...,...,...,...
201,512051,Mascha: Camilla Tominey : said schools should ...,L,2020-05-28 20:05:13,NaN,NaN
205,512055,Mascha: Camilla Tominey : f it is safe to do so,L,2020-05-28 20:05:14,NaN,NaN
206,512056,Camilla Tominey : if it is safe to do so,L,2020-05-28 20:05:14,NaN,NaN
208,512058,if it is safe to reopen schools on 1 June chil...,I,2020-05-28 20:05:14,NaN,NaN
209,512059,Mascha: Camilla Tominey : if it is safe to do so,L,2020-05-28 20:05:14,NaN,NaN

In [20]:
z.type.value_counts()

type
L    72
I    32
Name: count, dtype: int64

In [21]:
z.scheme.value_counts()

Series([], Name: count, dtype: int64)

In [22]:
z.schemeID.value_counts()

Series([], Name: count, dtype: int64)