In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Utilisateurs/umushtaq/am_reasoning/abstRCT/data_files/neo/train.csv", index_col=0)

In [3]:
df

,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
doc_id,,,,,,,,
7786823,1,0,none,0,none,"From 1984 to 1989, the Swiss Group for Clinic...",none,-1
7786823,2,1,Premise,8,support,The overall remission rate was 87% with 31% co...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
7786823,3,2,Premise,8,support,The median survival of all 406 eligible patien...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
7786823,4,3,Premise,8,support,"The overall remission rate, the rate of comple...","(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
7786823,5,4,Premise,10,support,In limited disease the estimated percentages o...,"(3, 9):(4, 9):(5, 9)",0
...,...,...,...,...,...,...,...,...
15920748,8,7,Premise,11,support,"At 3 months, the reduction of incidence/severi...","(6, 10):(3, 10)",0
15920748,9,8,Premise,10,support,"After RT, QOL function scores improved (p < .0...","(7, 9):(0, 9):(1, 9):(5, 4):(6, 10):(3, 10)",0
15920748,10,9,Premise,0,none,"at 3 months, patients in group 1 maintained or...",NaN,0
15920748,11,10,Claim,0,none,"During RT, nutritional interventions positivel...","(6, 10):(3, 10)",1
15920748,12,11,Claim,0,none,"in the medium term, only counseling exerted a ...","(10, 10)",2

In [10]:
df = df.reset_index().rename(columns={'index': 'doc_id'})

In [11]:
df[df.doc_id == 7786823]

,doc_id,span_pos,adu_pos,aty,parent_pos,afu,text,rel_pairs,root
0,7786823,1,0,none,0,none,"From 1984 to 1989, the Swiss Group for Clinic...",none,-1
1,7786823,2,1,Premise,8,support,The overall remission rate was 87% with 31% co...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
2,7786823,3,2,Premise,8,support,The median survival of all 406 eligible patien...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
3,7786823,4,3,Premise,8,support,"The overall remission rate, the rate of comple...","(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
4,7786823,5,4,Premise,10,support,In limited disease the estimated percentages o...,"(3, 9):(4, 9):(5, 9)",0
5,7786823,6,5,Premise,10,support,Patients with extensive disease survived signi...,"(3, 9):(4, 9):(5, 9)",0
6,7786823,7,6,Premise,10,support,In the latter patients the received dose inten...,"(3, 9):(4, 9):(5, 9)",0
7,7786823,8,7,Premise,9,support,Patients treated with early alternating chemot...,"(0, 7):(1, 7):(2, 7):(6, 8):(3, 9):(4, 9):(5, 9)",0
8,7786823,9,8,Claim,0,none,Alternating chemotherapy with PAV-CyMOC plus c...,"(3, 9):(4, 9):(5, 9)",1
9,7786823,10,0,none,0,none,Whereas,none,-1
10,7786823,11,9,Claim,0,none,patients with early alternating chemotherapy a...,"(3, 9):(4, 9):(5, 9)",1
11,7786823,12,10,Claim,0,none,late alternating chemotherapy allows for a hig...,"(9, 9)",2

In [ ]:
grouped_df = df.groupby(["doc_id"]).agg({    
    "text": list,
})

In [7]:
grouped_df

                                                       text
doc_id
7502428   [ Single-agent therapy with bicalutamide, a no...
7680374   [ An open, randomized study was performed to a...
7786823   [ From 1984 to 1989, the Swiss Group for Clini...
7989941   [nan, Taxol (paclitaxel; Bristol-Myers Squibb,...
8229122   [ The impact of the side effects of megestrol ...
...                                                     ...
23989945  [ Care closer to home is being explored as a m...
23993401  [ The optimal duration over which lung SBRT sh...
24001635  [ Patients experience reductions in quality of...
24067488  [ Chronic gastrointestinal symptoms after pelv...
24075621  [nan, Abiraterone acetate plus prednisone sign...

[350 rows x 1 columns]